=== {{title}} ===
{{#author}}
Contributors:      {{author}}
{{/author}}
Tags:              block-theme
{{#testedUpTo}}
Tested up to:      {{testedUpTo}}
{{/testedUpTo}}
Requires at least: {{requiresAtLeast}}
Requires PHP:      {{requiresPHP}}
Stable tag:        {{version}}
{{#license}}
License:           {{license}}
{{/license}}
{{#licenseURI}}
License URI:       {{{licenseURI}}}
{{/licenseURI}}

{{description}}

== Description ==

{{description}}

== Changelog ==

= {{version}} =
* Initial release
