{{=<% %>=}}
name: Build and Zip WordPress Plugin
env:
  PLUGIN_NAME: <%slug%>
on:
  release:
    types: [published]
  push:
    tags:
      - 'v*'  # Trigger this workflow on push to tags like v1.0, v20.15.10 etc.
    branches:
      - 'test' # test branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'

      - name: Install Composer dependencies
        run: composer install --no-dev --optimize-autoloader

      - name: Build JS
        run: npm run build

      - name: Run wp-scripts plugin-zip
        run: npm run plugin-zip

      - name: Upload Release Asset
        if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'release'
        run: gh release upload ${{ github.ref_name }} ./$PLUGIN_NAME.zip
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
