{
  "name" : "{{slug}}",
  "version" : "{{version}}",
  "download_url" : "https://github.com/{{githubAccount}}/{{slug}}/releases/latest/download/{{slug}}.zip",
  "sections" : {
    "description" : "{{description}}"
  }
}
