<!-- wp:group {"className":"site-footer","layout":{"type":"constrained"}} -->
<div class="wp-block-group site-footer">
	<!-- wp:paragraph {"align":"center"} -->
	<p class="has-text-align-center">
		Proudly powered by <a href="https://wordpress.org">WordPress</a>.
	</p>
	<!-- /wp:paragraph -->
</div>
<!-- /wp:group -->
