/*
Theme Name:       {{title}}
{{#themeURI}}
Theme URI:        {{{themeURI}}}
{{/themeURI}}
{{#description}}
Description:      {{description}}
{{/description}}
{{#author}}
Author:           {{author}}
{{/author}}
{{#version}}
Version:          {{version}}
{{/version}}
{{#requiresAtLeast}}
Requires at least: {{requiresAtLeast}}
{{/requiresAtLeast}}
{{#testedUpTo}}
Tested up to:     {{testedUpTo}}
{{/testedUpTo}}
{{#license}}
License:          {{license}}
{{/license}}
{{#licenseURI}}
License URI:      {{{licenseURI}}}
{{/licenseURI}}
Text Domain:      {{textdomain}}
{{#domainPath}}
Domain Path:      {{{domainPath}}}
{{/domainPath}}
Tags:             block-theme
*/
